<div class="square" [ngClass]="(rowIndex+colIndex)%2 === 0 ? 'primary-bg' : 'secondary-bg'">
    <div class="chotu-sqaure" *ngIf="rowIndex === pawnRowPosition && colIndex === pawnColPosition">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-caret-right-fill" viewBox="0 0 16 16" *ngIf="arraowpos == 1">
            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
          </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-caret-down-fill" viewBox="0 0 16 16" *ngIf="arraowpos == 2">
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-caret-left-fill" viewBox="0 0 16 16" *ngIf="arraowpos == 3">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-caret-up-fill" viewBox="0 0 16 16" *ngIf="arraowpos == 4">
            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
          </svg>
        <img src="../../../assets/pawn-white.png" id="image-pawn" *ngIf="pawnColor==='white'"/>
        <img src="../../../assets/pawn-black.png" id="image-pawn" *ngIf="pawnColor==='black'"/>
    </div>
    <p [ngClass]="(rowIndex+colIndex)%2 === 0 ? 'primary-text' : 'secondary-text'">{{rowIndex}},{{colIndex}}</p>
</div>